.App{
  text-align: center;
  background-image: linear-gradient(to bottom right, red, red 20%, blue 20%, blue 40%, white 40%, white 60%, green 60%, green 80%, yellow 80%, yellow 100%);
  background-attachment: fixed; /*defines scrolling behaviour*/
  width: 95%;
  margin: auto;
  /*grid starts here*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AppHeightFull{
  height: 100vh;
}